
/*  Variables */
:root {
  --sidebar_size : 230px;
  --sidebar_main_color : #54667a;
  --sidebar_secondary_color : #008efa;
  --sidebar_tertiary_color : #4f5467; /* #4f5467 ; #755096*/
  --sidebar_category_color : #a6afbb;
  --main_color : #f4f6f8;
  --questionnaire_secondary_color : #f7fafc;
}

/* General */
html, body{
  font-family: Rubik,sans-serif;
  margin: 0;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.42857143;
  color: #686868;
  font-weight: 300;
  height: 100%;
}
body{
  background-image: linear-gradient(to right, #e7eaf0 , #d8ddeb);
}
.app {
  width: 100%;
  /*height: 100%;
  display: inline-block;*/
}

/********************* header css **********************/

/* large screen */
@media (min-width: 1200px){
  .app-header{
    z-index: 1;
    background-color: var(--sidebar_tertiary_color);
    height: 4rem;
    padding-left: Calc(var(--sidebar_size) + 1rem);
    display: none;
  }
  .pointer{
    display: none;
  }
}

/* small screen */
@media (max-width: 1199.9px){

.pointer{
    font-size: 30px;
    position: relative;
    cursor: pointer;
    left: 13px;
    top: 2px;
    color: white;
    float: left;
  }
.app-header{
    position: fixed;
    background-color: var(--sidebar_tertiary_color);
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 3.5rem;
  }
}

/******************** sidebar css **********************/

/* large screen */
@media (min-width: 1200px){
  .app-aside {
    top: 3.5rem;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    width: var(--sidebar_size) !important;
  }
}

/* small screen */
@media (max-width: 1199.9px){
  #dark{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(20,20,31,.8);
    z-index: 2;
    -webkit-animation: fadeInBackdrop .26s ease forwards;
    animation: fadeInBackdrop .26s ease forwards;
  }
  @keyframes fadeInBackdrop{
    from{opacity:0.4}to{opacity:1}
  }
  .app-aside {
    width :0;
    background-color: #f6f7f9;
  }
}

#sidebar_size_saver{
  width: var(--sidebar_size);
}
.app-aside {
  overflow-x: hidden;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: white;
  background-image: url('../media/background_sidebar.png');
}
.logo{
  height: 4.8rem;
  margin: 2rem auto 0rem auto;
  padding: 6px 0;
  display: flex;
}
.sidebar_main{
  height: Calc(100% - 14rem);
  min-height: fit-content;
}
.sidebar_pages{
  padding: 0;
  margin-top: 1rem;
}
.sidebar_page{
  padding: 12px 30px 12px 15px;
  display: block;
  color: var(--sidebar_main_color);
  line-height: 1.25rem;
  position: relative;
}
.sidebar_page:hover{
  text-decoration: none;
  color: var(--sidebar_main_color);
  background-color: #f8f9fa;
}
.sidebar_page_selected{
  border-color: var(--sidebar_secondary_color) !important;
  border-left: 4px solid;
  font-weight: bold;
}
.sidebar_page_selected > .sidebar_icon{
  color: var(--sidebar_secondary_color);
}
.sidebar_icon{
  font-size: large;
  margin-right: 1rem;
}
.sidebar_category{
  color: var(--sidebar_category_color);
  cursor: default;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .035em;
  padding: 12px 15px!important;
  pointer-events: none;
  margin: 20px 0 0 -15px;
}
.sidebar_arrow{
  position: absolute;
  right: 15px;
  top: 18px;
}
.sidebar_help{
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  color: var(--sidebar_main_color);
  font-size: smaller;
}
.my-3{
  margin-left: 1rem;
  margin-right: 1rem;
}

/********************** main css ***********************/

/* large screen */
@media (min-width: 1200px){
  .app-main {
    padding: 2rem 2rem 2rem Calc(var(--sidebar_size) + 2rem);
  }
}

/* small screen */
@media (max-width: 1199.9px){
  .app-main {
    padding: 5rem 2rem 2rem 2rem;
  }
}

/* General */
.app-main{
  position: relative;
  z-index: 0;
}
.dashboard_footer{
  text-align: center;
}

/* Main */

  /* general */
  @media (min-width: 768px){
    .min_box{
      margin: 0px 10px 0px 10px;
    }
    .min_box_chat{
      margin: 20px 10px 20px 10px;
    }
  }
  @media (max-width: 767.9px){
    .min_box{
      margin-bottom: 20px;
    }
  }
  .no_border{
    border: 0 !important;
  }
  .min_box{
    background-color: white;
    /***/
    background-size: cover;
  }
  .min_box>header{
    padding: 20px 2rem 20px 2rem;
    color: white;
  }
  .min_box>main{
    margin: 0;
  }
  .min_box>header>h{
    font-size: large;
    white-space: nowrap;
    text-transform: uppercase;
  }
  .min_see_more{
    display: block;
    padding: 0px;
    width: fit-content;
    color: white;
    font-size: smaller;
  }
  .min_see_more:hover{
    color: white;
  }
  .min_cell{
    padding: 10px 2rem 10px 2rem;
    color: white;
    font-weight: 900;
    text-align: center;
    display: block;
    font-size: small;
  }
  .min_col{
    text-align: center;
    display: block;
    font-size: small;
    padding: 0;
  }
  .table td, .table th {
    color: #5a6a7c;
    vertical-align: middle !important;
  }
  /* left */
  .left{
    padding: 1rem 3rem 3rem 3rem;
  }
  .home_page_left{
    padding: 0;
    overflow: scroll;
  }
  .min_cell_myinfo{
    background-color: #37689e;
  }
  .min_col_myinfo_content{
    padding-bottom: 97px !important;
    padding: 3rem;
    text-align: left !important;
  }
  #min_box_header_myinfo{
    background-color: #2f70b7;
    border-bottom: solid 1px #274e79;
    overflow: scroll;
  }
  #home_page_profil_photo{
    width: 8rem;
    height: 8rem;
    margin: auto;
    object-fit: cover;
    display: block;
  }
  #home_page_name{
    display: block;
    text-transform: capitalize;
    font-size: large;
    text-align: center;
    margin: 0;
    padding-top: 1rem;
  }
  #home_page_subject{
    text-align: center;
    display: block;
    font-size: smaller;
  }
  .home_page_info{
    display: block;
    font-size: smaller;
    margin-bottom: 10px;
  }
  .home_page_info>b{
    font-weight: 600;
    color: #545b62;
  }

  /* right */
  @media (min-width: 1200px){
    .min_col_stat_content_main{
      font-size: 40px;
    }
    .min_col_stat_content_sub{
      font-size: large;
    }
  }
  @media (max-width: 1199.9px){
    .min_col_stat_content_main{
      font-size: 32px;
    }
    .min_col_stat_content_sub{
      font-size: small;
    }
  }
  @media (min-width: 768px){
  }
  @media (max-width: 767.9px){
    .min_chat_subject{
      display: none;
    }
  }
  .home_page_right{
    overflow: scroll;
    padding: 0;
    margin: 0;
  }
  .min_box_chat{
  }
  .min_box_quiz{
  }
  .min_box_myinfo{
  }
  #min_box_header_quiz{
    background-color: #c72a39;
    border-bottom: solid 1px #9e1f2b;
  }
  #min_box_header_messages{
    background-color: #17a8bf;
    border-bottom: solid 1px #1c8c9e;
  }
  .table_min{
    margin-bottom: 12px;
  }
  .table_chat{
    min-height: 233px;
  }
  #table_min_stat{
    height: 100%;
    min-height: 12rem;
  }
  .min_table_cell{
    border: 0 !important;
  }
  .min_cell_quiz{
    background-color: #bd2130;
  }
  .min_table_cell_quiz{
    background-color: #bd2130 !important;
  }
  .min_table_cell_chat{
    background-color: #17a2b8 !important;
  }
  .min_table_cell_quiz_content{
    vertical-align: middle !important;
  }
  .min_col_stat_content_main{
    font-weight: 500;
    color: #ce4f4b;
  }
  .min_col_stat_content_sub{
    font-weight: 100;
  }
  #min_table_cell_your_rank{
    font-weight: 900;
  }

/* Quiz */
.quiz_main .quiz{
  text-decoration: none;
  padding: 0rem;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px #c5c5c5;
  border-left: solid 5px var(--sidebar_main_color);
}
.quiz_main .quiz:hover{
  border-left: solid 10px var(--sidebar_main_color);
}
.quiz_main .quiz .head{
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  color: var(--sidebar_main_color);
}
.quiz_main .quiz .body{
  padding: 2rem;
  color: #545b62;
}
.quiz_main .quiz .options{
  padding: 1rem;
  color: var(--sidebar_main_color);
  text-align: center;
  margin: auto;
}

/* myInfo */
.myinfo_main{
  padding: 3rem;
  background-color: white;
  /***/
}
#myinfo_profil_photo{
  width: 12rem;
  height: 13rem;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  display: block;
}
.myinfo_pdp{
  padding: 2rem 2rem 3rem 2rem;
  background-image: url(../media/background.png);
}
.myinfo_hr{
  margin: 0;
  padding: 0;
  height: inherit;
  margin-top: 12px;
}
.myinfo_container>h{
  width: 100%;
  margin: 0;
}
.myinfo_container{
  padding: 2rem;
}
.myinfo_quiz_tabs{
  margin-top: 4rem;
}
.selected_tab{
  color: white !important;
  background-color: #4f5566 !important;
}
#myinfo_quiz_tab_rank, #myinfo_quiz_tab_done{
  font-size: medium;
  display: table-cell;
  padding: 1rem;
  color: #4f5566;
  background-color: #fdfdfd;
}
.myinfo_quiz_tabs>header{
  margin-bottom: 1rem;
}
#myinfo_champions{
  padding: 4rem;
}

#myinfo_rank2_photo,#myinfo_rank3_photo{
  width: 40%;
  min-width: 90px;
}
#myinfo_rank1_photo{
  width: 50%;
  min-width: 100px;
}

.myinfo_champions_cell, .myinfo_champions_cell_first{
  text-align: center;
  margin-bottom: 2rem;
}
.myinfo_champions_cell_first{
  font-size: large;
}
.myinfo_champions_cell{
  font-size: small;
}
.myinfo_champions_cell>img, .myinfo_champions_cell_first>img{
  margin-bottom: 1rem !important;
  display: block;
  margin: auto;
}
.myinfo_quiz_tabs_content{
  margin-top: 3rem;
}
#table_quiz{
  margin-top: 2rem;
}
@media (max-width: 767.9px){
  #myinfo_profil_photo{

    margin-bottom: 2rem;
  }
  .myinfo_options{
    text-align: center;
  }
  .myinfo_pdp{
    text-align: center;
    width: 100%;
    margin: 0;
    background-color: #f8f9fa;
    padding: 2rem;
  }
  .myinfo_main{
    padding: 0;
  }
  .myinfo_pdp_options{
    padding: 2rem !important;
  }
}
@media (min-width: 768px) {
  #myinfo_profil_photo{

  }
  .myinfo_options{
    text-align: right;
  }
  .myinfo_pdp{
    background-color: #f8f9fa;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: Calc(100% + 6rem);
    margin-left: -3rem;
  }
}

.myinfo_pdp_info>h1{
  font-weight: 100;
}
.myinfo_pdp_info>h5{
  font-weight: 100;
  color: #6c757d;
}
.myinfo_pdp_info>h{
  font-size: small;
  color: #6c757d;
}
.table_cell_rank{
  background-color: #4f5566 !important;
  border: none !important;
}
.table_cell_quiz{
  background-color: #4f5566 !important;
  border: none !important;
}

#table_rank>tbody>tr:hover{
  background-color: #f8f9fa;
}
#table_quiz>tbody>tr:hover{
  background-color: #f8f9fa;
  cursor:pointer;
}

.myinfo_pdp_options{
  max-width: 100%;
  margin: 0;
  padding: 0rem;
}

.myinfo_options{
  font-size: large;
  width: 100%;
}

.myinfo_options>a{
  margin: 4px;
  color: #545b62;
  text-decoration: none;
}


/*  Chat  */

.chat_main{
  background-color: white;
  padding: 3rem;
  /***/
  background-size: cover;
}
.chat_main>main{
  border: solid #e9ecef 1px;
  display: table;
  width: 100%;
  min-height: Calc(100vh - 33px - 6rem);
}

@media (min-width: 768px) {
  #chat_largescreen{
    width: 20%;
    display: table-cell;
    text-align: center;
    border-right: solid #e9ecef 1px;
  }
  .chat_link{
    display: block;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
  }
  #chat_seemore_container{
    max-height: Calc(100vh - 33px - 6rem);
    overflow: scroll;
  }
  #chat_seemore{
    width: 25%;
    display: table-cell;
  }
  .msg_min{
    display: block;
    border-bottom: 1px solid #e9ecef;
    padding: 1rem;
  }
  .msg_min>span{
    display: block;
    text-transform: capitalize;
  }
  .msg_min_date{
    font-size: x-small;
  }
  .msg_min_subject{
    font-size: small;
    padding-top: 10px;
  }
  .msg_body_subject{
    padding: 10px 0px 10px 0px;
  }
  .msg_body_title{
    font-size: large;
  }
  .send_form>input, .send_form>textarea{
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    color: #828282;
    font-weight: 100;
    margin-top: 10px;
    min-height: 3rem;
    border: solid #eaecef 1px;
  }
  #send_button{
    width: auto !important;
    margin: auto;
  }
  #chat_body{
    max-height: Calc(100vh - 10rem);
    overflow: scroll;
  }
  #chat_body_container{
    width: 55%;
    background-color: #f8f9fa;
    display: table-cell;
    padding: 3rem;
    padding-top: 0;
    border-left: 1px solid #e9ecef;
  }
  #chat_mobile{
    display: none;
  }

}
.chat_main>h2{
  margin-bottom: 2rem;
}
#chat_body>h2,#chat_body>h5, #chat_body>span{
  display: block;
}
